<div>
  <button class="btn btn-primary" (click)="togleParagraphVisibility()">Display Details</button>
  <hr>
  <p [hidden]="hiddenParagraph">
    Compressing objects: 100% (10/10), done.
    Writing objects: 100% (10/10), 1.53 KiB | 1.53 MiB/s, done.
    Total 10 (delta 4), reused 0 (delta 0)
    remote: Resolving deltas: 100% (4/4), completed with 4 local objects.

    The human retina has a beautiful solution to sampling in its placement of photoreceptor cells. The cells cover the
    retina densely and evenly (with the exception of the blind spot over the optic nerve), and yet the cells’ relative
    positions are irregular. This is called a Poisson-disc distribution because it maintains a minimum distance between
    cells, avoiding occlusion and thus wasted photoreceptors.

    Unfortunately, creating a Poisson-disc distribution is hard. (More on that in a bit.) So here’s a simple
    approximation known as Mitchell’s best-candidate algorithm.
  </p>
  <p>Total clicks: {{clickCounter}}</p>
  <p *ngFor="let element of clickCollection" [ngClass]="{colorfull: element.slice(-1) >= 4, normal: element.slice(-1) < 4 }">{{element}}</p>
</div>

<hr>

<p>
  servers works!
</p>
<hr>
<label>Server Name</label>
<div>
  <input type="text" class="form-control" [(ngModel)]="newServerName">
  <input type="text" class="form-control" (input)=onUpdateServerName($event)>
</div>
<hr>
{{newServerName}}
<hr>
<button (click)="onServerCreate()" class="btn btn-primary" [disabled]="!allowAddNewServer">Add Server</button>
<hr>
<p>{{allowAddNewServer}}</p>
<hr>
<p>{{serverCreationStatus}}</p>
<hr>
<div>
  <server-component *ngFor="let server of serversCollection" [name]="server" [serverID]="15"></server-component>
</div>