<p>
  servers works!
</p>
<hr>
<label>Server Name</label>
<div>
  <input type="text" class="form-control" [(ngModel)]="newServerName">
  <input type="text" class="form-control" (input)=onUpdateServerName($event)>
</div>
<hr>
{{newServerName}}
<hr>
<button (click)="onServerCreate()" class="btn btn-primary" [disabled]="!allowAddNewServer">Add Server</button>
<hr>
<p>{{allowAddNewServer}}</p>
<hr>
<p>{{serverCreationStatus}}</p>
<hr>
<div>
  <server-component *ngFor="let server of serversCollection" [name]="server" [serverID]="15"></server-component>
</div>